
services:
  db:
    container_name: postgres_database
    image: postgres:15.1
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: todo-db
    volumes:
      - postgres-db:/var/lib/postgresql/data

  pgAdmin:
    depends_on:
      - db
    image: dpage/pgadmin4:6.17
    environment:
      PGADMIN_DEFAULT_PASSWORD: 123456
      PGADMIN_DEFAULT_EMAIL: ana@google.com
    ports:
      - "8080:80"
    volumes:
      - pgAdmin:/var/lib/pgadmin

  api:
    image: mi-proyecto-django
    container_name: django_app
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      POSTGRES_DB: todo-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_HOST: db
    volumes:
      - .:/app

volumes:
  postgres-db:
  pgAdmin: